@tailwind base;

html,
body {
  height: 100%;
}

body {
  @apply bg-gray-100;
}

main {
  max-width: 100%;
  min-width: 300px;
  height: 100%;
  min-height: 400px;
}

@tailwind components;

@tailwind utilities;
